$brand: #F4C703;
$white: #fff;
$gray:  #FAFAFA;
$gray-darker: #F0F0F0;
$gray-darkest: #C8C8C8;
$black: #1b1b1b;

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Francois+One|Open+Sans');

$font-family-base: 'Open Sans', sans-serif;
$font-family-serif: 'Abril Fatface', cursive;
$font-family-sans-serif: 'Francois One', sans-serif;

$font-size-base: 18px;